:root {
  box-sizing: border-box;
  background-color: rgba(22, 22, 21, 0.94);
  color: rgba(255, 228, 196, 0.878);
  font-size: 1.1em;
}
h1 {
  border: 5px rgba(0, 189, 135, 0.356) outset;
  background-color: rgb(11, 113, 89);
  border-radius: 1em;
  color: rgb(127, 237, 252);
}
h3 {
  color: rgba(58, 183, 218, 0.808);
}
ul {
  list-style-type: square;
  text-align: left;
}
li {
  margin-bottom: 0.5em;
  background-color: rgba(0, 255, 204, 0.038);
  border-radius: 1em;
  padding: 2%;
}

.mygrid {
  /* my grid holds all the containers together  */
  display: grid;
  gap: 5px;
  font-family: Arial, Georgia, Helvetica, Tahoma, sans-serif;
  font-weight: 700;
  text-align: center;
  color: rgba(204, 242, 227, 0.676);
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  grid-template-rows: auto;
  border-radius: 1.7em;
  background: rgba(0, 169, 143, 0.66);
  border: 4px rgb(55, 1, 24);
  justify-content: center;
  grid-template-areas:
    "profile about about"
    "profile education education"
    "languages education education"
    "skills skills skills"
    "work projects projects"
    "military volunteering hobbies";
}
.container {
  /* containers hold each category . like profile , about , skills , projects etc */
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.619),
    rgba(36, 36, 36, 0.619)
  );
  border-radius: 1.4em;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 7%;
  border: 5px outset rgba(0, 90, 77, 0.682);
  position: relative;
}
#profile {
  padding: 0%;
  grid-area: profile;
}
#about {
  grid-area: about;
}
#education {
  grid-area: education;
}
#languages {
  grid-area: languages;
}
#skills {
  grid-area: skills;
}
#work {
  grid-area: work;
}
#projects {
  grid-area: projects;
}
#military {
  grid-area: military;
}
#volunteering {
  grid-area: volunteering;
}
#hobbies {
  grid-area: hobbies;
}
.icons {
  position: relative;
  max-width: 1em;
  max-height: 1em;
  padding-right: 0.2em;
  margin-left: 0em;
}
.button {
  width: 87%;
  font-size: 1.3em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.3em;
  padding-top: 2.13%;
  padding-bottom: 2.13%;
  border-radius: 1em;
  color: rgb(242, 242, 242);
}
.credential {
  width: 47%;
  font-size: 0.9em;
  border-radius: 1em;
  border: 0.2em outset rgb(165, 165, 165);
  background-color: rgb(69, 69, 69);
  margin-top: 1.5em;
  margin-bottom: 0.6em;
  padding: 0.8%;
  color: rgb(255, 255, 255);
}

#linkedin {
  padding-right: 0%;
  padding-top: 1.75%;
  padding-left: 1.45em;
  margin-top: 0.5em;
  border: 5px rgb(10, 102, 194) outset;
  background-color: rgb(7, 79, 152);
}

#linkedinicon {
  max-width: 1.5em;
  max-height: 1.5em;
  margin-left: 0.01em;
  margin-bottom: -0.37em;
  padding-right: 0em;
}
#github {
  border: 5px rgba(30, 35, 39, 0.955) outset;
  background-color: rgb(21, 23, 24);
}
#githubicon {
  max-width: 1.4em;
  max-height: 1.4em;
  margin-bottom: -0.26em;
  margin-left: -1.67em;
  margin-right: -0.1em;
  padding-right: 0.38em;
}

#instagram {
  border: 5px rgba(174, 0, 78, 0.935) outset;
  background-color: rgb(139, 0, 51);

  padding-bottom: 2.17%;
  padding-top: 2.17%;
}
#instagramicon {
  max-width: 0.95em;
  max-height: 0.95em;
  padding-right: 0.4em;
  margin-right: -0.21em;
  margin-bottom: -0.1em;
}
#email {
  border: 5px rgba(185, 179, 179, 0.726) outset;
  background-color: rgba(144, 131, 131, 0.989);

  padding-right: 2.3em;
}
#emailicon {
  padding-right: 0.6em;
  margin-right: -0.16em;
  margin-bottom: -0.09em;
}
#cv {
  border: 5px rgb(255, 255, 255) outset;
  background-color: rgba(239, 222, 222, 0.819);
  color: black;
  text-decoration: underline black;
  text-underline-offset: 0.2em;
  font-size: 1em;

  margin-top: 0.5em;
  margin-bottom: 0.75em;

  border-radius: 5em;
}
#cvicon {
  padding-right: 0.6em;
  margin-right: -0.2em;
  margin-bottom: -0.37em;
  max-width: 1.2em;
  max-height: 1.2em;
}

.bannerimage {
  position: absolute;
  background-image: url(p.png);
  height: 30%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em 1em 0em 0em;
}
.profile-img {
  width: 85%;
  clip-path: circle(30%);
  margin-top: 0em;
  position: relative;
}
#profile > h1 {
  position: relative;
  margin-left: 6%;
  margin-right: 6%;
}
.mynameis {
  position: relative;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(102, 255, 252);
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 0%;
  background: rgb(36, 30, 30);
  border-top: 1px outset rgb(151, 151, 0);
  padding-top: 1%;
}
.description {
  margin-top: 0%;
  color: rgb(36, 185, 212);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2%;
  padding-right: 3%;
  background: rgb(36, 30, 30);
  border-bottom: 1px outset rgb(192, 192, 0);
  padding-bottom: 1%;
  position: relative;
}
#graduationicon {
  padding-right: 0.1em;
  margin-left: -0.2em;
}
#locationicon {
  padding-right: 0.1em;
  margin-left: -0.2em;
}

#militaryimage {
  max-width: 6em;
}

#linkedin:hover {
  border-color: rgb(0, 255, 238);
  background-color: rgba(6, 54, 103, 0);
  color: rgb(65, 125, 255);
}
#github:hover {
  border-color: rgb(0, 255, 238);
  background-color: rgba(211, 201, 201, 0);
  color: rgb(0, 0, 0);
}

#instagram:hover {
  border-color: rgb(0, 255, 238);
  background-color: rgba(74, 0, 27, 0);
  color: rgb(255, 0, 166);
}
#email:hover {
  border-color: rgb(0, 255, 238);
  background-color: rgba(158, 158, 158, 0);
  color: white;
}
#cv:hover {
  border-color: rgb(0, 255, 238);
  background-color: rgba(122, 122, 122, 0);
  color: white;
  text-decoration: underline white;
}

.supergrid {
  /* my grid holds all the containers together  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2.5em;
  padding-left: 4%;
  padding-right: 4%;
}

.tools {
  background-color: rgba(0, 138, 37, 0.749);
  color: rgb(206, 206, 206);
  border: rgb(44, 175, 79) outset 0.2em;
  position: relative;
  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-left: 0.2em;
  border-radius: 1em;
  margin-top: 0.7em;
  flex-grow: 0.6;
}

.ide {
  background-color: rgba(85, 82, 82, 0.839);
  color: rgb(206, 206, 206);
  border: rgb(140, 140, 140) outset 0.2em;
  position: relative;
  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-left: 0.2em;
  border-radius: 1em;
  margin-top: 0.7em;
  flex-grow: 0.6;
}

.industry {
  background-color: rgba(152, 0, 112, 0.768);
  color: rgb(206, 206, 206);
  border: rgb(131, 76, 116) outset 0.2em;
  position: relative;
  padding: 0.4em;
  margin-left: 0.2em;
  border-radius: 1em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-top: 0.7em;
  flex-grow: 0.6;
}
.soft {
  background-color: rgba(130, 0, 0, 0.711);
  color: rgb(206, 206, 206);
  border: rgb(136, 52, 52) outset 0.2em;
  position: relative;
  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-left: 0.2em;
  border-radius: 1em;
  margin-top: 0.7em;
  flex-grow: 0.6;
}
.grideducation {
  /* my grid holds all the containers together  */
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: auto;
  row-gap: 0.5em;
  justify-content: center;
  grid-template-areas:
    "authlogo authletters authletters authletters authletters"
    "udeimage1 udemyletters1 udemyletters1 udemyletters1 udemyletters1"
    "udeimage2 udemyletters2 udemyletters2 udemyletters2 udemyletters2"
    "colmooc colmoocletters colmoocletters colmoocletters colmoocletters";
}
.containereducation {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  border-bottom: 5px rgb(0, 197, 174) outset;
  border-top: 5px rgb(0, 197, 174) outset;
}
#authlogo {
  background-color: rgba(0, 85, 79, 0.775);
  grid-area: authlogo;
  background-size: 3.4em;
  background-image: url(auth-logo.png);
  border-left: 5px rgb(0, 197, 174) outset;
  border-radius: 1em 0em 0em 1em;
}
#authletters {
  grid-area: authletters;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-top: 0%;
  border-right: 5px rgb(0, 197, 174) outset;
  border-radius: 0em 1em 1em 0em;
  background-color: black;
}
#udemyletters1 {
  grid-area: udemyletters1;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-top: 0%;
  border-right: 5px rgb(0, 197, 174) outset;
  border-radius: 0em 1em 1em 0em;
  background-color: rgb(5, 5, 5);
}
#udeimage1 {
  background-color: rgba(0, 85, 79, 0.775);
  grid-area: udeimage1;
  background-image: url(udemy.png);
  border-left: 5px rgb(0, 197, 174) outset;
  border-radius: 1em 0em 0em 1em;
}
#udeimage2 {
  background-color: rgba(0, 85, 79, 0.775);
  grid-area: udeimage2;
  background-image: url(udemy.png);
  border-left: 5px rgb(0, 197, 174) outset;
  border-radius: 1em 0em 0em 1em;
}
#udemyletters2 {
  grid-area: udemyletters2;
  padding-right: 12%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-top: 0%;
  border-right: 5px rgb(0, 197, 174) outset;
  background-color: black;
  border-radius: 0em 1em 1em 0em;
}
#colmooc {
  grid-area: colmooc;
  background-image: url(coolmoooc.png);
  border-left: 5px rgb(0, 197, 174) outset;
  border-radius: 1em 0em 0em 1em;
  background-size: 7.4em;
  background-color: rgba(0, 85, 79, 0.775);
}
#colmoocletters {
  grid-area: colmoocletters;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-top: 0%;
  border-right: 5px rgb(0, 197, 174) outset;
  border-radius: 0em 1em 1em 0em;
  background-color: black;
}

.credential:hover {
  background-color: rgba(107, 107, 107, 0);
  color: rgb(0, 255, 225);
  border-color: rgb(0, 255, 225);
}

.tools:hover {
  background-color: rgba(107, 107, 107, 0);
  color: rgb(0, 255, 225);
  border-color: rgb(0, 255, 225);
}

.soft:hover {
  background-color: rgba(107, 107, 107, 0);
  color: rgb(0, 255, 225);
  border-color: rgb(0, 255, 225);
}
.ide:hover {
  background-color: rgba(107, 107, 107, 0);
  color: rgb(0, 255, 225);
  border-color: rgb(0, 255, 225);
}

.industry:hover {
  background-color: rgba(107, 107, 107, 0);
  color: rgb(0, 255, 225);
  border-color: rgb(0, 255, 225);
}
#datascience:hover {
  color: red;
}

@media only screen and (max-width: 1000px) {
  .mygrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "profile about"
      "profile about"
      "education education"
      "skills skills"
      "projects projects"
      "work work"
      "military languages"
      "volunteering hobbies";
  }
}

@media only screen and (max-width: 600px) {
  .mygrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "profile"
      "about"
      "languages"
      "education"
      "skills"
      "work"
      "projects"
      "military"
      "volunteering"
      "hobbies";
  }
}
